<div class="footer">
<div class="container footer">
  <div class="col-md-4 footlogo">
    <img src="assets/logonew.png">
    </div>  
    <div class="col-md-4 cont">
        <div id="text-3" class="cont"><h3 class="cont"><span class="infinite-widget-head-text">Contact Info</span><span class="infinite-widget-head-divider"></span></h3><span class="clear"></span>	
          		<div class="textwidget"><p><b><span class="tell"></span></b><span class="telltext"> 264 Heights Road, Darien CT</span></p>
          <p class="newss"><b><span class="tell">PHONE: </span></b><span class="telltext">(203) 655-2077</span></p>
          <p class="news1"><b><span class="tell1">EMAIL:</span> </b><span class="telltext1">info@admin.com</span></p>
          </div>
              </div>
      </div>  
      <div class="col-md-4 social">
          <div id="text-3" class="social"><h3 class="socialh3"><span class="infinite-widget-head-text">Contact Info</span><span class="infinite-widget-head-divider"></span></h3><span class="clear"></span>	
          <ul class="social" style="margin-bottom:-10px; margin-top: -12px;">
              <li class="tweet"><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp; Instagram  </a></li>&nbsp;&nbsp;
              <li class="fac"><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp; Facebook  </a></li><br>
              </ul>
        </div>  
        </div>
</div>
</div>