thead {
    color: #337AB7;
}
.proimg {
    width: 50px;
}
.container.prolist {
    margin-top: 20px;
    margin-bottom: 20px;
}
.table th{
    text-align: center;
}
.table td{
    text-align: center;
}
.searchplace {

    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #020202;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    font-weight: 800;
    border: 1px solid;

}