<div class="container prolist">
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <!-- <div class='col-md-2 searchtxt'>Filter by:</div> -->
            <div class='col-md-4'>
                <input type='text' class="searchplace" [(ngModel)]='listFilter'  placeholder="Search by product name"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <!-- <th>
                            <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th> -->
                        <th>Product Name</th>
                        <th>Seller Name</th>
                        <th>Product image</th>
                        <th>L3 Category</th>
                        <th>MRP</th>
                        <th>Cost</th>
                        <th>Days to Fulfill</th>
                        <th>variant1</th>
                        <th>variant2</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <!-- <td>
                            <img *ngIf='showImage'
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td> -->
                        <td><a [routerLink]="['/products', product.productId]">
                                {{ product.productName }}
                            </a>
						</td>
                        <td>{{ product.sellerName}}</td>
                        <td><img class="proimg" [src]=product.productimage></td>
                        <td>{{ product.l3category}}</td>
                        <td>{{ product.MRP}}</td>
                        <td>{{ product.Cost}}</td>
                        <td>{{ product.DaystoFulfill}}</td>
                        <td>{{ product.variant1}}</td>
                        <td>{{ product.Variant2}}</td>
                        
                        <!-- <td>
                            <pm-star [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
							</pm-star>
                        </td> -->
                    </tr>
                   
                   
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <td colspan="4">
                                
                            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> 
                            
                        </td>
                    </tr>
                    </tfoot> -->
            </table>



            
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
</div>